<h5><%= pluralize(@comments.count, " commentaire") %></h5>

<br>

<% @comments.each do |comment| %>

  <%= image_tag comment.user.avatar, class: "rounded-circle" %>
  <p><b><%= comment.user.name %></b></p>
  <p><%= comment.content %></p>
  <% if current_user == comment.user or is_admin? %>
  <%= link_to "Supprimer", [comment.video, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary'%>
  <%= link_to "Modifier", edit_video_comment_path(comment.video, comment), class: 'btn btn-sm btn-outline-secondary'%>
  <% end %> 

  </p>
  
<% end %> 


<%= render 'comments/form' %>
