<h2>Mot de passe oublié ?</h2>


<br>

<style>
.my-container {
border: 2px solid rgb(166, 155, 158);

}


body {
    background-color: #000000; 
}
</style>

<div class="container my-container">
  <div class="d-flex justify-content-center">
    <div class="bs-component">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <br>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <br>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
      <br>
    </div>
  </div>
</div>

<br></br>