<% if user_signed_in? %>


<div class="jumbotron hugo-jumbotron">
<div class="center-div">
<%= link_to "Envoie tes vidéos !", new_video_path, class: "create_button" %>
</div>
</div>



<div class="container-fluid">

    <div class="row">

        <div class="col-md-10">
        
            <div class="row">

            <% @videos.each do |video| %>
                <div class="col-md-3">
                    <div class="card mt-3">

                        <div class="card-header">
                            <center>
                            <h4> <%= video.title %></h4>
                            </center>
                        </div>

                        <div class="card-body">
                            <center>
                            <br>
                            <div style="width:300px; height:275px">
                                <%= video_tag(url_for(video.clip), style:'width:300px; height:275px') %>
                            </div>
                            </center>
                        </div>

                        <div class="footer">
                        <center>
                        <h6><strong>Auteur : </strong><%= video.user.name %></h6>
                        
                        <%= link_to "Regarder !", video_path(video.id), class: 'btn btn-sm btn-outline-secondary align-item-right'%>
                        </center>
                        <br>
                        </div>





                    </div>
                </div>
            <% end %>
            </div>
        </div>

        <div class="col-md-2">

            <div class="card mt-3">
                <div class="card-header">
                    Catégories
                </div>
                
                <div class="card-body categories-cards">
                    <ul class="list-group">
                
                    <% @categories.each do |category| %> 
                        <button type="button" class="btn btn-secondary mt-2">
                        <b><%= link_to category.title, videos_path(:cate => category.id), style:'color:white'%>
                        <span class="badge badge-light"><%= category.videos.count %></span></b>
                        </button>
                        
        
                <% end %>
                </ul>
                </div>

        </div>
    </div>
</div>
</div>


<% else %>

<div class="contenair welcome-container">
<h1>Bienvenue sur Omniscience!</h1>
<h5>Merci de vous enregistrer. </h5> 
<p> En créant un compte, vous pourrez accéder à notre site.</p>
<%= button_to "Créer un compte", new_user_registration_path, :method => "get", class: "create_button" %>

</div>
<br>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1614899417406-e6f8485cd279?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGtub3dsZWRnZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Connaissance</h5>
      <p class="card-text text-center">Comprendre les enjeux économiques, scientifiques et ou astronomiques avec des vidéos clés en mains qui analyseront pour vous les élémentés clés.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1522071901873-411886a10004?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80k" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Accessible à tous</h5>
      <p class="card-text text-center">Les vidéos postées pourront être consultées par toute la communauté et cela gratuitement afin de rendre accessible la voie à la connaissance !</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Communauté</h5>
      <p class="card-text text-center">Notre communauté est notre unique source de savoir, elle est diversifiée et soucieuse de la qualité des contenus postés.</p>
    </div>
  </div>
</div>
<% end %>

<STYLE>

h1 {
  text-align: center;
  color: black
}

.carousel-inner {
    height: 500px;
}

.welcome-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  }
  
  .create_button {
    font-weight: 1000;
    font-size:25px;
    background-color: rgb(124, 124, 124);
    border: none;
    color: black;
    padding: 10px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    border: 3px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .create_button:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 3px solid black;
  } 
  
  .hugo-jumbotron {
    display: flex;
    background: url(<%= asset_path 'cate-astronomie.jpg' %>);
    align-items: center;
    justify-content: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-position-y: center;
  }

  .col-md-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

</STYLE>
