
<% content_for :title, "Omniscience" %>

<h1>OMNISCIENCE, APPRENEZ EN STREAMING !</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" max-width: 100% height: auto; class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1591994843349-f415893b3a6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


<br></br>
<div class="container categories-container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ", style="padding-top: 10px;">
        <% @videos.each do |video| %>
            <div class="col">
                <div class="card border-secondary mb-3 cards" style="max-width: 20rem;">

            <div class="card-header">
                <center><h4>Titre : <%= video.title %></h4></center>
            </div>

            <div class="card-body">
                <div class="flex-container text">
                        <br>
                        <div style="width:275px; height:200px">
                            <%= video_tag(url_for(video.clip), style:'width:100%') %>
                        </div>
                        

                    <h6><strong>Catégorie : </strong><%= video.category.title %></h6>

                    <h6><strong>Description : </strong><%= video.description %></h6>

                    <h6><strong>Auteur : </strong><%= video.user.name %></h6>
                    
                    <% if user_signed_in? %>
                    <center>
                    <%= link_to "Regarder !", video_path(video.id), class: 'btn btn-sm btn-outline-secondary'%>
                    </center>
                    <% end %>
                   
                        </div>
                    </div>
                </div>
            </div> 
            <% end %>
        </div>
    </div>
</div>



    



<STYLE>

h1 {
  text-align: center;
  color: black
}

.carousel-inner {
    height: 500px;
}

.card {
  
  
    background-image: linear-gradient(180deg, white 3rem, #f0a4a4 calc(3rem), #f0a4a4 calc(3rem + 2px), transparent 1px), repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #ddd 1px, #ddd calc(1.5rem + 1px));
    
}

</STYLE>

