<head>
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>


<body>


<h1>Videos#show</h1>
<h3>Titre: <%= @video.title %></h3>

<p>Description: <%= @video.description %></p>


<div style="width:400px; height:400px">
<%= video_tag(url_for(@video.clip), style:'width:100%;height:auto', controls:'') %>
</div>

<div class="field>
<%= link_to "Editer", edit_video_path(@video.id) %>
<%= link_to "Supprimer", video_path(@video.id), method: :delete %>
<%= link_to "Revenir en arrière", videos_path %>
</div>



<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
</body>