

<div class="flex-row d-flex justify-content-center">

<div class="col-md-8">
    <div class="card mt-5">

        <div class="card-body">
        <%= form_for @category do |f| %>

            <div class="form-group">
                <%= f.label :Titre %>
                <%= f.text_field :title %>
                <br></br>
            </div>

            
           
                <%= f.submit " Valider ", class: 'btn btn-outline-primary'%>

            <%= link_to " Retour  ", categories_path, class: 'btn btn-outline-secondary'%>
        
        </div>
        </div>
        <% end %>
    </div>
</div>




<br></br>
<br></br>
