

<style>

* {

text-align: center;

}

</style>


    <div class="bs-component">
      <%= form_for @category do |f| %>


        <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

<br>

        <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>

        <div class="field">
        <% if is_admin? %>
        <%= f.submit " Valider " %>
        <% end %>
      <% end %>
      </div>




<br></br>
<br></br>