<h1>La Catégorie Créer</h1>
<br>

<style>
.my-container {
border: 2px solid rgb(166, 155, 158);
}

.but {
    display:flex;
    flex-direction: row
}

</style>

<div class="container my-container">
    <div class="d-flex justify-content-center">
        <div class="bs-component">
        <br>

            <h3><%= @category.title %></h3>
            <%= image_tag(@category.image) if @category.image.attached? %>

            <div class="container but"
                <div class="row">
                    <% if is_admin? %>
                    <%= link_to "Modifier", edit_video_path(@category.id), class: 'btn btn-sm btn-outline-secondary'%>
                        <%= link_to "Supprimer", category_path(@category.id), method: :delete, class: 'btn btn-sm btn-outline-secondary'%>
                    <% end %>
                </div>
                <div class="row">
                    <%= link_to "Revenir en arrière", categories_path %>
                    <br></br>
                </div>
            </div>

        </div>    
    </div>
</div>    

<br></br>