<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><%= link_to "Omniscience", root_path %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <div class="my-2 my-sm-0">
          <a class="navbar-brand"><%= link_to "Catégories", categories_path %></a>
        </div>
        
        <div class="my-2 my-sm-0">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bienvenue</a>
              <div class="dropdown-menu text-center">
                <a> <%= link_to "Mon profil", user_path(current_user) %></a>
                <br>
                <a><%= link_to "Créer un contenu", new_video_path %></a>
              </div>
            </li>
          <% end %>
        </div>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Recherche">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
      </form>
      <% if user_signed_in? %>
         
          <a><%= button_to "Se deconnecter", destroy_user_session_path, method: :delete, class: 'text-black' %></a>
        <% else %>
          <a><%= button_to "Se connecter", new_user_session_path, class: 'text-black' %></a>
          
      <% end %>
    </div>
  </div>
</nav>