<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <div class="d-flex flex-row">
    <a class="navbar-brand"><%= link_to "Omniscience", root_path, style: 'font-size: 40px; font-weight: 600; color: grey;' %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="d-flex flex-row-reverse">
    <% if user_signed_in? %>
    <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, height: 75, width:75, class: "rounded-circle" %>
    <% else %>
              <%= image_tag gravatar_image_url(current_user.email, size: 75), height: 75, width:75, class: "rounded-circle" %>
              <% end %>
              <% end %>
  

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <div class="my-2 my-sm-0">
          <% if is_admin? %>

        <a class="navbar-brand"><%= link_to "Catégories", categories_path %></a>
        <% end %> 
        
        <div class="my-2 my-sm-0">
          <% if user_signed_in? %>
          
            <ul class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu

              </a>
              <div class="dropdown-menu text-center">
                <%= link_to 'Editer mon compte', edit_user_registration_path(current_user) %>
                <li> <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: 'text-black' %></li>
                </div>
            </ul>
          <% end %>
        </div>

      </div>

      <% if user_signed_in? %>
        <% else %>
          <a><%= button_to "Se connecter", new_user_session_path, class: 'btn btn-lg btn-secondary' %></a>
      <% end %>
    </div>
  </div>
  </div>
</nav>


