<!DOCTYPE html>
<html>
  <head>
    <title>THPProjetdegroupe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Downloaded from : videojs.com/getting-started-->
    <!--Basicaly, Videojs is a video player for Active_storage-->
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  </head>

  <body>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>



    <% if user_signed_in? %>
    <li><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: 'text-black' %></li>
    <li><%= link_to "Créer un contenu", new_video_path %></li>
    
    <% else %>
    <li><%= link_to "Se connecter", new_user_session_path, class: 'text-black' %></li>
    <% end %>




    </body>
</html>
