<!DOCTYPE html>
<html>
  <head>
    <title>THPProjetdegroupe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--Downloaded from : videojs.com/getting-started-->
    <!--Basicaly, Videojs is a video player for Active_storage-->
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  </head>

  <body>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>  
            <div class="dropdown-divider"></div>
            
            
            
              <a><%= button_to "Se deconnecter", destroy_user_session_path, method: :delete, class: 'text-black' %></a>
              <a><%= link_to "Créer un contenu", new_video_path %></a>
            
              <% else %>

              <a><%= button_to "Se connecter", new_user_session_path, class: 'text-black' %></a>
              
            <% end %>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <% if user_signed_in? %>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete, class: 'text-black' %></button>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><%= link_to "Créer un contenu", new_video_path %></button>
        <% else %>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit"><%= link_to "Se connecter", new_user_session_path, class: 'text-black' %></button>
          
        <% end %>
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>






  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>



    <%= link_to "Créer un contenu", new_category_path %>
    </body>
</html>
